
.slika{
  width: 100%;
  height: 300px;
}
.sise{
  background-image: url("../img/ass.jpg")!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper{
}
.banner{
  width: 350px;
  height: 1450px;
  /*margin-top: 20px;*/
  position: fixed;
}
.foot{
}
#main{

  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
 /* background-color: #4c4d4f;*/
 background-color:#262626;
}
.levi{
  background-image: url("../img/left.jpg");
  background-position: center;
  background-size: cover;
  position:fixed;
  left:0px;
}
.desni{
  background-image: url("../img/ljubav.jpg");
  background-position: center;
  background-size: cover;
  position: fixed;
  right: 0;
}
.search form input{
  width: 300px;
}
.trazi{
  color: white;
  font-size: 20px;
}
.test{
  /*background-image:linear-gradient(to bottom,#fac826 0,#ecc557 47%,#ebc868 50%,#ebc868 50%,#e1b02a 51%,#c4932e 100%);!important;*/
  background-color:black!important;
  height: 60px!important;
  font-size:20px!important;}
.oglas img{
  width: 500px;
  height: 400px;
}
.tekst-white{
  color: white;

}
.dugme{
	background-color:#cc7a00;
	text-shadow:2px 2px #000000;
}
.naslov-oglasa{
	font-size:25px;
	text-decoration:bold;
  font-weight: bold;}
.okvir{
	background-color:#cc7a00;
	border:1px solid #cc7a00;
	color: white;
}
.boja{
    background-color:#cc7a00!important;
  	border:1px solid #cc7a00;
  	color: white;
  }
.ttitle{
  border-radius: 5px!important;
}
.bord{
  border:1px solid black!important;
}
