.boja{
    background-color:#cc7a00!important;
  	border:1px solid #cc7a00;
  	color: white;
}
.sm{
margin-top: auto;
}
.pozadina{
  background-color: #262626!important;
}
.duzina-polja{
width: 1600px;
}
.navig{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem
}
