.boja{
    background-color:##cc005e!important;
  	border:1px solid ##cc005e;
  	color: white;
}
.sm{
margin-top: 40px;
}
.pozadina{
  background-color: #262626!important;
}
.duzina-polja{
width: 1600px;
}
.boja:hover{
  color:black;
}
